<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>signup</h1>
        <% if(pass ==true) {%>
          <div class="alert alert-primary" role="alert">
            Username already taken,try another!
          </div>
        <% } %>  
        <form action="/signup" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input required type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input required type="text" class="form-control" id="username" name="username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required type="password" class="form-control" name="password" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="/login" class="btn btn-secondary mt-4">login</a>
      </div>
</body>
</html>